body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #595959;
  font-weight: 600;
  font-size: 14px;
}

header p {
  line-height: 0;
}

h1,
h2,
h3,
h4 {
  color: #222;
  margin: 0 0 20px;
  line-height: 1.1;
  padding-top: 10px;
  /* padding-bottom: 0px;  */
  margin-bottom: 10px;
}

h3,
h4 {
  font-weight: 600;
}

h4 {
  /* margin-bottom: 10px; */
  padding: 10 0px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  color: #393939;
  font-weight: 500;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover {
  color: #069;
}

a small {
  font-size: 15px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

img {
  max-width: 270px;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

header ul {
  list-style: none;
  height: 45px;
  padding: 0;
  background: #f4f4f4b2;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
  text-align: center;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 45px;
  /* text-align: top; */
}

.fa-square-twitter {
  color: #39c;
}

.fa-linkedin {
  color: #069;
}

header li:first-child a {
  border-radius: 5px 0 0 5px;
}

header li:last-child a {
  border-radius: 0 5px 5px 0;
}

section > p {
  /* padding-bottom: 0; */
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
/* section > a {
  text-align: center;
  display: block;
} */

header ul a {
  /* line-height: 1; */
  font-size: 15px;
  color: #999;
  display: block;
  text-align: center;
  /* padding-top: 6px; */
  padding-top: 15%;
  height: 34px;
}

header ul a:hover {
  color: #999;
}

header ul a:active {
  background-color: #f0f0f0;
}

strong {
  color: #222;
  font-weight: 500;
}

header ul li + li + li {
  border-right: none;
  width: 89px;
}

header ul a strong {
  font-size: 14px;
  display: block;
  color: #222;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 30px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 5px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  body {
    padding: 15px;
  }
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
    margin: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 252px;
    /* margin: auto 20%; */
  }
  img {
    width: 300px;
    margin: auto;
  }
}

@media print, screen and (max-width: 720px) {
  h1,
  h2 {
    text-align: center;
  }
  header > h1 {
    text-align: center;
  }
  header > p {
    text-align: center;
  }
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }
  header ul {
    width: 270px;
    margin: auto;
    margin-bottom: 10px;
  }

  pre,
  code {
    word-wrap: normal;
  }
  img {
    position: relative;
    width: 290px;
    margin: auto;
    display: block;
    padding-bottom: 10px;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  /* header ul {
    width: 290px;
    margin: auto;
  } */

  header li,
  header ul li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}
